<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container" align="center">
<img class="rounded" src="assets/images/Whales.jpg" width="200">
<h1>Whales Everywhere!</h1>
    </div>
</div>
<div class="container" align="center">
<p>
    The Sea is getting colder. The whales are spewing ocean water near your ship,
    when the water comes back down, the frozen water spears impale anything under it. The whales do not appear to be leaving
    any time soon. With the rocking of the ship, you do not know if you will perish, or luckily be able to proceed.

</p>
<div class="row">
<form class="col-md-6" action="@routes.GameController.postHomePort" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail back South"/>
</form>
<form class="col-md-6" action="@routes.GameController.postNorthFromEngland" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Keep trying to sail North"/>
</form>
</div>
</div>
</body>
</html>