<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Too Much Trying to go East</h1>
<p>You should have paid more attention to your intuition.
    You run ashore while trying to turn around in the latest dead end bay.
    While trying to patch up the ship you and your crew are almost eaten by a rampaging herd of feral kittens.
    The kittens destroy what remains of your ship.  A passing Viking Cruise ship picks you up and takes you back to port in disgrace. The end.
</p>
</body>
</html>
