@(name : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container" align="center">
<img class="rounded" src="assets/images/Land.jpg" width="200">
<h1>Too Much Trying to go East</h1>
    </div>
</div>
<div class="container" align="center">
<p>You should have paid more attention to your intuition.
    You run ashore while trying to turn around in the latest dead end bay.
    While trying to patch up the ship you and your crew are almost eaten by a rampaging herd of feral kittens.
    The kittens destroy what remains of your ship.  A passing Viking Cruise ship picks you up and takes you back to port in disgrace. The end for @name.
</p>
    <div class="row">
<form class="col-md-6" action="@routes.GameController.getWelcome" method="get">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="New Player"/>
</form>
<form class="col-md-6" action="@routes.GameController.getStart" method="get">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Play Again"/>
</form>
</div>
</div>
</body>
</html>
