<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Too Much Land</h1>
<p>This way is not looking very promising.
    You keep going in and out of bays trying to find a way east but you always run into land.
    You are afraid you may run aground and be eaten by one of the roving bands of feral kittens you see frolicking upon the shore.
</p>
<form action="@routes.GameController.postHomePort" method="POST">
    @CSRF.formField
    <input type="submit" value="Sail back West"/>
</form>
<form action="@routes.GameController.postEastEnd" method="POST">
    @CSRF.formField
    <input type="submit" value="Keep trying to sail East"/>
</form>
</body>
</html>
