<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
<img class="rounded" src="assets/images/England.jpg" width="200">
<h1>Shame</h1>
    </div>
</div>
<div class="container">
<p>You are back at home port with nothing to show for it.
    Better get going before someone notices.
</p>
    <div class="row">
<form class="col-md-2" action="@routes.GameController.postWestFromEngland" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail West"/>
</form>
<form class="col-md-2" action="@routes.GameController.postNorthFromEngland" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail North"/>
</form>
<form class="col-md-2" action="@routes.GameController.postEastFromEngland" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail East"/>
</form>
    </div>
</div>
</body>
</html>