<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
<img class="rounded" src="assets/images/PirateShip.jpg" width="200">
<h1>Let the adventure begin</h1>
    </div>
</div>
<div class="container" align="center">
<p>You have been chosen by the Queen of England to find a northern water way to China to acquire much needed fidget spinners.
    You are given a small ship with a crew of 10 people.
    Most of your sailor friends believe that your best chance of success is to sail northwest above North America.
    However, some of your crew believe you should try going east over Russia or north over the top of the world instead.
</p>
    <div class="row">
<form class="col-md-2" action="@routes.GameController.postWestFromEngland" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail West"/>
</form>
    <br>
<form class="col-md-2" action="@routes.GameController.postBetweenNorthAndStart" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail North"/>
</form>
    <br>
<form class="col-md-2" action="@routes.GameController.postEastFromEngland" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Sail East"/>
</form>
        <br>
    </div>
</div>
</body>
</html>