
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
<img class="rounded" src="assets/images/England.jpg" width="200">
<h1>Northwest Passage</h1>
<h2>A Game of Cunning and Skill</h2>
    </div>
</div>
<div class="container">
<p>
    This game is meant to be played by only the most skilled gamers.  Play at your own risk!
</p>
<div class="container">
<form action="@routes.GameController.postStart" method="POST">
    @CSRF.formField
   Enter Your Name: <input class="rounded" type="text " name="name">
    <br>
    <br>
    <input class="btn btn-primary col-md-4" type="submit" value="Let's Do This!"/>
</form>
<br>
<form action="@routes.GameController.getKittens" method="GET">
    <input class="btn btn-primary col-md-4" type="submit" value="Kittens"/>
</form>
</div>
</div>
</body>
</html>