@(name : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container" align="center">


<img class="rounded" src="assets/images/china.jpg" width="200">
<h1>Winning Like Someone who Wins a Lot</h1>
    </div>
</div>
<div class="container" align="center">
<p>You reach China and load up on fidget spinners.
    When you get back to England the Queen rewards you with a monopoly on importing them.
    You spin happily ever after.
    The end for @name.
</p>
    <div class="row">
<form class="col-md-6" action="@routes.GameController.getWelcome" method="get">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="New Player"/>
</form>
<form class="col-md-6" action="@routes.GameController.getStart" method="get">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Play Again"/>
</form>
    </div>
</div>
</body>
</html>
