@(name : String)
<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Northwest Passage</title>
</head>
<body>
<h1>Winning Like Someone who Wins a Lot</h1>
<p>You reach China and load up on fidget spinners.
    When you get back to England the Queen rewards you with a monopoly on importing them.
    You spin happily ever after.
    The end for @name.
</p>
<form action="@routes.GameController.getWelcome" method="get">
    @CSRF.formField
    <input type="submit" value="New Player"/>
</form>
<form action="@routes.GameController.getStart" method="get">
    @CSRF.formField
    <input type="submit" value="Play Again"/>
</form>
</body>
</html>
