<!DOCTYPE html>
@import helper._
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <title>Northwest Passage</title>
</head>
<body>
<div class="jumbotron">
    <div class="container" align="center">
<img class="rounded" src="assets/images/Alaska.jpg" width="200">
<h1>Icebergs Everywhere</h1>
</div>
</div>
<div class="container" align="center">
<p>You sail for months and see a lot of icebergs.
    Food is running out and the crew is starting to get scurvy.
    A small building resembling an outhouse appears on the deck of your ship.
    A door opens and out comes a man wearing a large scarf.
    He says something about being the doctor and hands you a large bottle of pills that says Flintstones on it.
    He tells you to take these to cure your scurvy.  He goes back into the little building and it disappears.
    The crew takes the pills and are healed the next day.
    You feel better now and think you see a clear path through the iceburgs.
</p>

<div class="row">

<form class="col-md-6" action="@routes.GameController.postHomePort" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Cowardly sail back to England"/>
</form>
    <br>
<form class="col-md-6" action="@routes.GameController.postWestEnd" method="POST">
    @CSRF.formField
    <input class="btn btn-primary" type="submit" value="Bravely sail west into the unknown"/>
</form>
    </div>
</div>
</body>
</html>
